<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE Html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/xhtml; charset=UTF-8" />
    <title>Katsi</title>
</head>
<body>

    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div>
        <img src="~/photos/college-students.jpg" width="100%" ,Height="100%" alt="Image"/>
    </div>
</body>
</html>